
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Partner Login - James App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/font-awesome.css' %}">
    <!-- ico-font-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/vendors/themify.css' %}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/vendors/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'manish/css/color-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/responsive.css' %}">
  </head>
  <body>
    <!-- login page start-->
    <div class="container-fluid p-0">
        

      <div class="row m-0">
        <div class="col-xl-5 b-center bg-size" style="background-image: url({% static 'manish/images/login/3.jpg' %}); 
            background-size: cover; background-position: center center; display: block;">
            <img class="bg-img-cover bg-center" src="{% static 'manish/images/login/3.jpg' %}" alt="loginpage" style="display: none;">
        </div>
    
        <div class="col-xl-7 p-0"> 
            <div class="login-card login-dark">
                <div>
                    <div> 
                        <a class="logo text-start" href="#">
                            <img class="img-fluid for-dark" src="{% static 'voiceagent.png' %}" alt="loginpage">
                            <img class="img-fluid for-light" src="{% static 'voiceagent.png' %}" alt="loginpage">
                        </a>
                    </div>
                    <div class="login-main"> 
                        <form method="post" class="theme-form">
                            {% csrf_token %}
                            <h4>Sign Up</h4>
                            <p>Enter your personal details to create an account</p>
                            
                            <div class="form-group">
                                <label class="col-form-label pt-0">Username</label>
                                <input class="form-control" type="text" name="username" required="" placeholder="Enter your username">
                            </div>
    
                            <div class="form-group">
                                <label class="col-form-label">Email Address</label>
                                <input class="form-control" type="email" name="email" required="" placeholder="Enter your email">
                            </div>
    
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="password1" required="" placeholder="Enter your password">
                                    <div class="show-hide"><span class="show"></span></div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="password2" required="" placeholder="Confirm your password">
                                    <div class="show-hide"><span class="show"></span></div>
                                </div>
                            </div>
    
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox" required>
                                    <label class="text-muted" for="checkbox1">I agree with <a class="ms-2" href="#">Privacy Policy</a></label>
                                </div>
                                <button class="btn btn-primary btn-block w-100" type="submit">Create Account</button>
                            </div>
                            
                            <p class="mt-4 mb-0 text-center">Already have an account? <a class="ms-2" href="{% url 'agent:login' %}">Sign in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


     <!-- latest jquery-->
     <script src="{% static 'manish/js/jquery.min.js' %}"></script>
     <!-- Bootstrap js-->
     <script src="{% static 'manish/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
     <!-- feather icon js-->
     <script src="{% static 'manish/js/icons/feather-icon/feather.min.js' %}"></script>
     <script src="{% static 'manish/js/icons/feather-icon/feather-icon.js' %}"></script>
     <!-- scrollbar js-->
     <!-- Sidebar jquery-->
     <script src="{% static 'manish/js/config.js' %}"></script>
     <!-- Plugins JS start-->
     <!-- calendar js-->
     <!-- Plugins JS Ends-->
     <!-- Theme js-->
     <script src="{% static 'manish/js/script.js' %}"></script>

  </body>
</html>