{% extends 'new/base.html' %}
{% load static %}

{% block header %}
   
{% endblock header %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-title">
        <div class="row">
          <div class="col-6">
            <h4></h4>
          </div>
          <div class="col-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">                                       
                    <svg class="stroke-icon">
                      <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-home"></use>
                    </svg></a></li>
              <li class="breadcrumb-item">Agents</li>
              <li class="breadcrumb-item active">Agent List</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6">
          <div class="card height-equal" >
            <div class="card-header">
              <h4>Twilio API Details</h4>
             
            </div>
            <div class="card-body custom-input">
              <form class="row g-3" action="" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="service_name" value="twilio">

                <div class="col-12"> 
                  <label class="form-label" for="account_sid">Account SID:</label>
                  <input class="form-control" id="account_sid" name="account_sid" type="text" placeholder="Account SID" aria-label="Account SID" required=""  value="{{ twilio_form.instance.decrypted_account_sid|default:'' }}">
                </div>
                <div class="col-12">
                  <label class="form-label" for="api_key">Auth Token:</label>
                  <input class="form-control" type="text" placeholder="Auth Token"  id="api_key" name="api_key" 
                  value="{{ twilio_form.instance.decrypted_api_key|default:'' }}">
                  <input type="checkbox" id="show_key" onclick="togglePassword()"> Show Auth Token
                </div>
                <div class="col-12"> 
                  <label class="col-sm-12 col-form-label" for="twilio_phone">Twilio Phone Numbe:</label>
                  <input type="text" class="form-control" id="twilio_phone" name="twilio_phone" 
                  value="{{ twilio_form.instance.decrypted_twilio_phone|default:'' }}">
                </div>
               
             
               
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header">
              <h4>How to Collect Twilio API Credentials</h4>
              <p>Follow the steps below to obtain your Twilio API credentials:</p>
            </div>
          <div class="card-body">
            <ol class="list-group">
              <li class="list-group-item"> <strong>Log in</strong> to your Twilio account.</li>
              <li class="list-group-item">Navigate to the <strong>Console Dashboard</strong> in your Twilio account.</li>
              <li class="list-group-item">Locate your <strong>Account SID</strong> and <strong>Auth Token</strong> under the "Project Info" section.</li>
              <li class="list-group-item">Copy the <strong>Account SID</strong> and <strong>Auth Token</strong> into the corresponding fields in the form.</li>
              <li class="list-group-item">If you don’t have a <strong>Twilio phone number</strong>, go to the "Phone Numbers" section to purchase or retrieve your number.</li>
          </ol>
          <p>For more details, refer to the <a href="https://www.twilio.com/docs/usage/your-account" target="_blank">Twilio documentation</a> or contact <a href="https://support.twilio.com" target="_blank">Twilio support</a> if you have any questions.</p>
          </div>
           
        </div>
        </div>
        
        </div>
    </div>
</div> 

{% endblock body %}
{% block js %}
<script>
  function togglePassword() {
      const passwordField = document.getElementById('api_key');
      const showKeyCheckbox = document.getElementById('show_key');
      // Toggle the input type between "password" and "text"
      passwordField.type = showKeyCheckbox.checked ? 'text' : 'password';
  }
</script>
{% endblock js %}
