{% load static %}
<div class="sidebar-wrapper" data-layout="stroke-svg">
    <div class="logo-wrapper">
        <a href="#"><img class="img-fluid" src="{% static 'manish/images/logo/logo.png' %}" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper">
        <a href="#"><img class="img-fluid" src="{% static 'manish/images/logo/logo-icon.png' %}" alt=""></a>
    </div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                    <a href="#"><img class="img-fluid" src="{% static 'manish/images/logo/logo-icon.png' %}" alt=""></a>
                    <div class="mobile-back text-end"> <span>Back
                         </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                </li>
                <li class="pin-title sidebar-main-title">
                    <div>
                        <h6>Pinned</h6> </div>
                </li>
                <li class="sidebar-main-title">
                    <div>
                        <h6 class="lan-1">General</h6> </div>
                </li>


                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-home"></use>
                        </svg>
                        <svg class="fill-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-home"></use>
                        </svg><span class="">Dashboard</span></a>
                </li>



                <li class="sidebar-main-title">
                    <div>
                        <h6 class="javascript:void(0);">Agents</h6> </div>
                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'designs:agent_list' %}">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>View Agents           </span></a>

                </li>

                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'designs:onboard' %}">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Create Agents           </span></a>

                </li>

                <li class="sidebar-main-title">
                    <div>
                        <h6 class="">Call Management</h6> </div>
                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'designs:start_card' %}">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Start Calling</span></a>

                </li>

                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'designs:start_card2' %}">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Call History </span></a>

                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Twilio Logs </span></a>

                </li>

                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Conversation </span></a>

                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Call Recording </span></a>

                </li>



                <li class="sidebar-main-title">
                    <div>
                        <h6 class="">Integrations & Apps</h6> </div>
                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Google Calendar</span></a>

                </li>


                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Play Ai</span></a>

                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="#">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-project"></use>
                        </svg><span>Twilio</span></a>

                </li>


                <li class="sidebar-main-title">
                    <div>
                        <h6>Customer Support</h6> </div>
                </li>

                <li class="sidebar-list"> <i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="knowledgebase.html">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-knowledgebase"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#fill-knowledgebase"></use>
                        </svg><span>Knowledgebase</span></a>
                </li>
                <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title link-nav" href="support-ticket.html">
                        <svg class="stroke-icon">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-support-tickets"></use>
                        </svg>
                        <svg class="fill-icon ">
                            <use href="{% static 'manish/svg/icon-sprite.svg' %}" #fill-support-tickets></use>
                        </svg><span>Support Ticket</span></a>
                </li>
            </ul>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</div>