

    
    {% extends 'new/base.html' %}
    {% load static %}
    
    {% block header %}
    {% endblock header %}
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'manish/css/vendors/datatables.css' %}">
    {% endblock css %}
        
    
    
    {% block body %}
    
    <div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-6">
                <h4></h4>
              </div>
              <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">                                       
                        <svg class="stroke-icon">
                          <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-home"></use>
                        </svg></a></li>
                  <li class="breadcrumb-item">Contact</li>
                  <li class="breadcrumb-item active">All Contact</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <!-- Scroll - vertical dynamic Starts-->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0 card-no-border">
                            {% comment %} <a href="{% url 'contact:add_contact' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Add Contact">Add Contact</a> {% endcomment %}
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Add Contact</button> 
                            {% comment %} <a href="{% url 'contact:upload_excel' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Bulk Add">Bulk Add</a> {% endcomment %}
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#bulkUploadModal">Bulk Add</button>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myExtraLargeModal">Add Contact</h4>
                                      <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body dark-modal"> 
                                      <div class="col-md-12">
                                          <div class="card">
                                            {% comment %} <div class="card-header">
                                              <h4>Raise input style</h4>
                                              <p class="f-m-light mt-1">
                                                 Use the <code>input-air-* </code>through defined bottom box-shadow.</p>
                                            </div> {% endcomment %}
                                            <form class="form theme-form dark-inputs">
                                              {% csrf_token %}
                                              <div class="card-body">
                                                  <div class="row">
                                                      <div class="col">
                                                        <div class="mb-3">
                                                          <label class="form-label" for="first_name">First Name</label>
                                                          <input class="form-control input-air-primary" id="first_name" name="first_name" type="text">
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                          <div class="mb-3">
                                                            <label class="form-label" for="last_name">Last Name</label>
                                                            <input class="form-control input-air-primary" id="last_name" type="text">
                                                          </div>
                                                      </div>
                                                  </div>
                                                {% comment %} <div class="row align-items-center">
                                                  <label class="form-label" for="email">Email</label>
                                                  <div class="col-auto d-flex align-items-center">
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input" id="email_radio" type="radio" name="email_radio" value="" checked="">
                                                    </div>
                                                  </div>
                                                  <div class="col-md-9">
                                                    <div class="mb-3">
                                                      <input class="form-control input-air-primary" id="email" name="email" type="email" placeholder="name@example.com">
                                                    </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <button class="btn" type="button" title="btn" style="color:blue;"><span class="plus-symbol">+</span> Add Email</button>
                                                  </div>
                                                </div> {% endcomment %}
                                                <div class="row align-items-center">
                                                  <label class="form-label" for="email">Email</label>
                                                  <div id="email-container">
                                                      <!-- Initial email input -->
                                                      {% comment %} <div class="email-item row align-items-center mb-2">
                                                          <div class="col-auto d-flex align-items-center">
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" id="email_radio" type="radio" name="email_radio" value="" checked="">
                                                              </div>
                                                          </div>
                                                          <div class="col-md-9">
                                                              <div class="mb-3">
                                                                  <input class="form-control input-air-primary" id="email" name="email" type="email" placeholder="name@example.com">
                                                              </div>
                                                          </div>
                                                      </div> {% endcomment %}
                                                  </div>
                                                  <div class="col-md-3">
                                                      <button class="btn" id="add-email-btn" type="button" style="color: blue;">
                                                          <span class="plus-symbol">+</span> Add Email
                                                      </button>
                                                  </div>
                                              </div>
                                                {% comment %} <div class="row align-items-center">
                                                  <label class="form-label" for="phone_number">Phone</label>
                                                  <div class="col-auto">
                                                    <div class="form-check form-check-inline">
                                                      <input class="form-check-input me-2" id="phone_radio" type="radio" name="phone_radio" value="" checked="">
                                                    </div>
                                                  </div>
                                                    <div class="col-md-3">
                                                      <div class="mb-3">
                                                        <select class="form-select input-air-primary digits" id="country_code">
                                                          <option value="">Select</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                      <div class="mb-3">
                                                        <input class="form-control input-air-primary" id="phone_number" name="phone_number"type="text">
                                                      </div>
                                                    </div> {% endcomment %}
                                                  <div class="row align-items-center">
                                                      <label class="form-label" for="phone">Phone</label>
                                                      <div id="phone-container">
                                                          <!-- Default input will be dynamically generated when the modal opens -->
                                                      </div>
                                                      <div class="col-md-3">
                                                          <button class="btn" id="add-phone-btn" type="button" style="color: blue;">
                                                              <span class="plus-symbol">+</span> Add Phone
                                                          </button>
                                                      </div>
                                                  </div>
                                                  {% comment %} <div class="col-md-3">
                                                    <button class="btn" type="button" title="btn" style="color:blue;"><span class="plus-symbol">+</span> Add Phone</button>
                                                  </div>
                                                </div> {% endcomment %}
                                                <div class="row">
                                                  <div class="col">
                                                    <div class="mb-3">
                                                      <label class="form-label" for="contact_type">Contact Type</label>
                                                      <select class="form-select input-air-primary digits" id="contact_type">
                                                        <option value="">Select Contact Type</option>
                                                        <option>Customer</option>
                                                        <option>Lead</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col">
                                                    <div class="mb-3">
                                                      <label class="form-label" for="time_zone">Time Zone</label>
                                                      <select class="form-select input-air-primary digits" id="time_zone">
                                                          <option value="">Select TimeZone</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col">
                                                      <div class="mb-3">
                                                          <label class="form-label" for="lists">Lists</label>
                                                          {% if all_lists %}
                                                              <select class="form-select input-air-primary" id="lists" name="lists" multiple>
                                                                  {% for list in all_lists %}
                                                                      <option value="{{ list.id }}" {% if list.id in form.lists.value %}selected{% endif %}>
                                                                          {{ list.name }}
                                                                      </option>
                                                                  {% endfor %}
                                                              </select>
                                                          {% else %}
                                                              <p>No lists available. <a href="{% url 'contact:create_list' %}">Create a new list</a>.</p>
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div class="mb-3">
                                                          <label class="form-label" for="campaigns">Campaigns</label>
                                                          {% if all_campaigns %}
                                                              <select class="form-select input-air-primary" id="campaigns" name="campaigns" multiple>
                                                                  {% for campaign in all_campaigns %}
                                                                      <option value="{{ campaign.id }}" {% if campaign.id in form.campaigns.value %}selected{% endif %}>
                                                                          {{ campaign.name }}
                                                                      </option>
                                                                  {% endfor %}
                                                              </select>
                                                          {% else %}
                                                              <p>No campaigns available. <a href="{% url 'contact:create_campaign' %}">Create a new campaign</a>.</p>
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                              </div>
                                              
                                              </div>
                                              <div class="card-footer text-end">
                                                <button class="btn btn-primary me-3" type="submit" id="submitBtn">Submit</button>
                                                <input class="btn btn-light" type="reset" value="Cancel">
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Container-fluid Ends-->
                                  </div>
                                    </div>
                            <a href="{% url 'contact:bulk_action_list' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="smart action list">Smart action</a>
                            <span>Easily manage your AI Agents by editing, deleting, or initiating a conversation directly from the table.</span>
                        </div>
                        
                    <!-- Modal for Bulk Upload -->
<div class="modal fade" id="bulkUploadModal" tabindex="-1" aria-labelledby="bulkUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="bulkUploadModalLabel">Bulk Upload Contacts</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-between mb-3">
              <button class="btn btn-primary btn-sm" id="step1-btn">Step 1: Upload CSV</button>
              <button class="btn btn-secondary btn-sm" id="step2-btn" disabled>Step 2: Map Fields</button>
              <button class="btn btn-secondary btn-sm" id="step3-btn" disabled>Step 3: Choose Action</button>
          </div>
            <!-- Step 1: Upload CSV -->
            <div id="step1" class="step">
              <h4>Step 2: Upload your file</h4>
              <p>Before uploading files, make sure your file is ready to import.</p>
              <a href="#" class="text-primary">Download sample file</a>

              <!-- File Upload -->
              <div class="form-group mt-4">
                  <label for="csvFile">Click to upload or drag and drop your file (CSV, max size 30MB)</label>
                  <input type="file" id="csvFile" class="form-control" accept=".csv">
              </div>
          
             
              <div class="mt-3">
                <button class="btn btn-primary" id="nextStep1">Next</button>
            </div>
          </div>
            <!-- Step 2: Map Fields -->
            <div id="step2" class="step d-none">
              <h5>Map Your CSV Columns to Contact Fields</h5>
              <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Column Header in File</th>
                        <th>Status</th>
                        <th>Mapped Field</th>
                    </tr>
                </thead>
                <tbody id="fieldMappingContainer">
                    <!-- Dynamic mapping rows will be generated here -->
                </tbody>
            </table>
             
              <div class="mt-3">
                  <button class="btn btn-secondary" id="prevStep2">Back</button>
                  <button class="btn btn-primary" id="nextStep2">Next</button>
              </div>
          </div>
           <!-- Step 3: Choose Action -->
           <div id="step3" class="step d-none">
              <!-- Import Option Selection -->
              <div class="mt-4">
                <label for="importOption">Choose how to import contacts</label>
                <select id="importOption" class="form-select">
                    <option value="create">Create Contacts</option>
                    <option value="update">Update Existing Contacts</option>
                    <option value="create_update">Create and Update Contacts</option>
                </select>
              </div>

          <!-- Deduplication Preferences -->
          <div class="mt-4">
              <label for="deduplication">Find existing contacts based on</label>
              <select id="deduplication" class="form-select">
                  <option value="email,phone">Email, then Phone</option>
                  <option value="phone,email">Phone, then Email</option>
              </select>
              <small class="form-text text-muted">
                  Deduplication preferences can be changed in settings.
              </small>
          </div>
            <!-- Deduplication Preferences -->
            <div class="mt-4">
                <label for="listId">List</label>
                <select id="listId" class="form-select">
                    {% for ls in all_lists %}
                    <option value="{{ls.id}}">{{ls.name}}</option>
                    {% endfor %}
                </select>
                <small class="form-text text-muted">
                     <a href="{% url 'contact:create_list' %}">Create New List</a>
                </small>
               
            </div>
            <div class="mt-3">
              <button class="btn btn-secondary" id="prevStep3">Back</button>
              <button class="btn btn-success" id="finishUpload">Finish</button>
          </div>
        </div>
             
          </div>
      </div>
  </div>
</div>

                            </div>
                          </div>
                        </div>
        
                        <div class="card-body">
                            <!-- Table Section -->
                            <div class="table-responsive user-datatable custom-scrollbar">
                                <table class="display" id="basic-10">
                                    <thead>
                                        <tr>
                                            <!-- Existing columns -->
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Created</th>
                                            <th>Contact Type</th>
                                            <th>Time Zone</th>
                                            <th>Lists</th>
                                            <th>Campaigns</th>
                                            <!-- New Action column -->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for contact in page_obj %}
                                        <tr>
                                            <td><a href="{% url 'contact:contact_details' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a> </td>
                                            <td>
                                                {% for email in contact.emails.all %}
                                                    {{ email.email }}{% if email.is_primary %} (Primary){% endif %}{% if not forloop.last %}, {% endif %}
                                                {% empty %}
                                                    No emails
                                                {% endfor %}
                                            </td>
                                            <td>  
                                                {% for phone in contact.phone_numbers.all %}
                                                    {{ phone.phone_number }}{% if phone.is_primary %} (Primary){% endif %}{% if not forloop.last %}, {% endif %}
                                                {% empty %}
                                                    No phone numbers available
                                                {% endfor %}
                                            </td>
                                            <td>{{ contact.created_at|date:"F d, Y" }}</td>
                                            <td>{{ contact.contact_type }}</td>
                                            <td>{{ contact.time_zone }}</td>
                                            <td>
                                                {% if contact.lists.exists %}
                                                    <ul>
                                                        {% for list in contact.lists.all %}
                                                            <li>{{ list.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <a href="{% url 'contact:create_list' %}">Create a List</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if contact.campaigns.exists %}
                                                    <ul>
                                                        {% for campaign in contact.campaigns.all %}
                                                            <li>{{ campaign.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <a href="{% url 'contact:create_campaign' %}">Create a Campaign</a>
                                                {% endif %}
                                            </td>
                                            <!-- New Action column with delete button -->
                                            <td>
                                                <form method="POST" action="{% url 'contact:delete_contact' contact.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="9">No contacts available.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <!-- Existing columns -->
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Created</th>
                                            <th>Contact Type</th>
                                            <th>Time Zone</th>
                                            <th>Lists</th>
                                            <th>Campaigns</th>
                                            <!-- New Action column -->
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        
                           
                        </div>
                        
                        
                    </div>
                </div>
                <!-- Scroll - vertical dynamic Ends-->
            </div>
        </div>
        
        
    </div>            
    
    {% endblock body %}
        
    
    
    {% block js %}
    <script src="{% static 'manish/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'manish/js/datatable/datatables/datatable.custom.js' %}"></script>
   
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const timeZoneSelect = document.getElementById("time_zone");
        const timeZones = Intl.supportedValuesOf('timeZone');
    
        timeZones.forEach(zone => {
            const option = document.createElement("option");
            option.value = zone;
            option.textContent = zone;
            timeZoneSelect.appendChild(option);
        })

        $("#submitBtn").click(function (e) {
          e.preventDefault(); // Prevent the form from submitting traditionally

          // Collect data
          const firstName = $("#first_name").val();
          const lastName = $("#last_name").val();

           // Container where the dynamic email inputs are added
          const emailContainer = document.getElementById("email-container");

          // Collect email data as a JSON object
          const emails = {};
          const emailItems = emailContainer.querySelectorAll(".email-item");

          emailItems.forEach((emailItem) => {
            const emailInput = emailItem.querySelector("input[type='email']"); // Get the email input
            const radioButton = emailItem.querySelector("input[type='radio']"); // Get the radio button

            const emailValue = emailInput.value.trim(); // Get email value

            if (emailValue) {
              emails[emailValue] = radioButton.checked ? 1 : 0; // Set 1 if primary, 0 otherwise
            }
          });

          // Phones
          const phoneItems = document.querySelectorAll(".phone-item");
          const phoneData = {};

          phoneItems.forEach((item) => {
            const countryCode = item.querySelector("select").value;
            const phoneNumber = item.querySelector("input[type='text']").value;
            const isPrimary = item.querySelector("input[type='radio']").checked ? 1 : 0;

            if (phoneNumber.trim()) {
                phoneData[phoneNumber] = {
                    country_code: countryCode,
                    primary: isPrimary
                };
            }
          });

          // Contact type and time zone
          const contactType = $("#contact_type").val();
          const timeZone = $("#time_zone").val();
          const lists = $("#lists").val();
          console.log('#lists', lists)
          // Construct data object
          const data = {
              firstName,
              lastName,
              emails,
              phoneData,
              contactType,
              timeZone,
              lists
          };
          console.log("data", data)
          // AJAX request
          $.ajax({
              url: "/contact/add/", // Replace with your server endpoint
              method: "POST",
              data: JSON.stringify(data),
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}',
                  'contentType': "application/json",   // Include CSRF token for security
              },
              success: function (response) {
                  console.log(response);
                  window.location.href = '/contact/';
              },
              error: function (err) {
                  alert("Error adding contact.");
                  console.error(err);
              }
          });
      }); 

    });
    </script>
 <script>
  document.addEventListener('DOMContentLoaded', function () {
    const step1 = document.getElementById('step1');
    const step2 = document.getElementById('step2');
    const step3 = document.getElementById('step3');

    const nextStep1 = document.getElementById('nextStep1');
    const prevStep2 = document.getElementById('prevStep2');
    const nextStep2 = document.getElementById('nextStep2');
    const prevStep3 = document.getElementById('prevStep3');
    const finishUpload = document.getElementById('finishUpload');

    const step1Btn = document.getElementById('step1-btn');
    const step2Btn = document.getElementById('step2-btn');
    const step3Btn = document.getElementById('step3-btn');

    // Navigation between steps
    nextStep1.addEventListener('click', () => {
        step1.classList.add('d-none');
        step2.classList.remove('d-none');
        step1Btn.classList.remove('btn-primary');
        step1Btn.classList.add('btn-secondary');
        step2Btn.classList.remove('btn-secondary');
        step2Btn.classList.add('btn-primary');
    });

    prevStep2.addEventListener('click', () => {
        step2.classList.add('d-none');
        step1.classList.remove('d-none');
        step2Btn.classList.remove('btn-primary');
        step2Btn.classList.add('btn-secondary');
        step1Btn.classList.remove('btn-secondary');
        step1Btn.classList.add('btn-primary');
    });

    nextStep2.addEventListener('click', () => {
        step2.classList.add('d-none');
        step3.classList.remove('d-none');
        step2Btn.classList.remove('btn-primary');
        step2Btn.classList.add('btn-secondary');
        step3Btn.classList.remove('btn-secondary');
        step3Btn.classList.add('btn-primary');
    });

    prevStep3.addEventListener('click', () => {
        step3.classList.add('d-none');
        step2.classList.remove('d-none');
        step3Btn.classList.remove('btn-primary');
        step3Btn.classList.add('btn-secondary');
        step2Btn.classList.remove('btn-secondary');
        step2Btn.classList.add('btn-primary');
    });

    finishUpload.addEventListener('click', () => {
        //   // Collect the field mappings
        //   const fieldMappings = [];
        // const mappingRows = document.querySelectorAll('#fieldMappingContainer tr');
   
        // mappingRows.forEach(row => {
        //   console.log("row",row);
          
        //     const select = row.querySelector('select');
        //     const selectedField = select.value;
        //     if (selectedField) {
        //         fieldMappings.push(selectedField);
        //     }
        // });
        const fieldMappings = [];
    const mappingRows = document.querySelectorAll('#fieldMappingContainer tr');

    mappingRows.forEach(row => {
        const csvHeader = row.querySelector('td:first-child').textContent.trim();
        const fieldSelect = row.querySelector('select');
        const fieldId = fieldSelect.value;

        if (fieldId) {
            fieldMappings.push({ csv_header: csvHeader, field_id: fieldId });
        }
    });

   
    if (fieldMappings.length === 0) {
        alert('Please map at least one field.');
        return;
    }

        // Collect the CSV file from the file input
        const csvFileInput = document.getElementById('csvFile');
        const csvFile = csvFileInput.files[0]; // Get the first file
        // Collect the import option and deduplication preferences
        const importOption = document.getElementById('importOption').value;
        const deduplication = document.getElementById('deduplication').value;
        const listId = document.getElementById('listId').value;
        

        // Create a FormData object to send the file and other data
        const formData = new FormData();

        // Append the file and other data to FormData
        formData.append('csvFile', csvFile); // Attach the file
        formData.append('fieldMappings', JSON.stringify(fieldMappings)); // Attach field mappings as a JSON string
        formData.append('importOption', importOption); // Attach the import option
        formData.append('deduplication', deduplication); // Attach the deduplication option
        formData.append('listId', listId); // Attach the list option

        console.log(JSON.stringify(fieldMappings));
        
        // Optionally, you can add other data, for example:
        // formData.append('userId', userId);

        // Send the request using AJAX
        $.ajax({
            url: "/contact/api/bulk-action/", // Replace with your backend endpoint
            method: "POST",
            data: formData,
            processData: false, // Prevent jQuery from converting the data into a query string
            contentType: false, // Prevent jQuery from setting content type header
            headers: {
                'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token for security
            },
            success: function (response) {
                // Handle the success response
                alert('Bulk action has been completed!');
                window.location.href = '/contact/'; // Redirect or update UI accordingly
            },
            error: function (err) {
                // Handle the error response
                alert("Error completing bulk action.");
                console.error(err);
            }
        });
    });
});

document.getElementById('csvFile').addEventListener('change', function (event) {
    const formData = new FormData();
    formData.append('csvFile', event.target.files[0]);

    // CSRF token for Django
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Upload CSV and get headers
    fetch('/contact/bulk_upload/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
        },
        body: formData,
    })
        .then(response => response.json())
        .then(data => {
            if (data.headers) {
                const mappingContainer = document.getElementById('fieldMappingContainer');
                mappingContainer.innerHTML = ''; // Clear existing content

                const fields = data.fields; // Predefined and custom fields from backend
                data.headers.forEach((header, index) => {
                    let options = `<option value="">-- Select Field --</option>`;
                    fields.forEach(field => {
                        options += `<option value="${field.id}">${field.name}</option>`;
                    });

                    const row = `
                        <tr>
                            <td>${header}</td>
                            <td id="status_${index}"><span class="badge badge-light-danger">Not Mapped</span></td>
                            <td>
                                <select class="form-select" id="field_${index}" onchange="updateStatus(${index})">
                                    ${options}
                                </select>
                            </td>
                        </tr>`;
                    mappingContainer.innerHTML += row;
                });
            }
        })
        .catch(error => console.error('Error uploading file:', error));
});

function updateStatus(index) {
    const select = document.getElementById(`field_${index}`);
    const status = document.getElementById(`status_${index}`);
    if (select.value) {
        status.innerHTML = '<span class="badge badge-light-success">Mapped</span>';
    } else {
        status.innerHTML = '<span class="badge badge-light-danger">Not Mapped</span>';
    }
}

 </script>

    {% endblock js %}
        
    