{% extends 'new/base.html' %}
{% load static %}
{% block body %}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="mb-0">Billing Dashboard</h4>
                </div>
                <div class="col-md-6 text-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">
                            <svg class="stroke-icon">
                                <use href="{% static 'manish/svg/icon-sprite.svg' %}#stroke-home"></use>
                            </svg></a></li>
                        <li class="breadcrumb-item active">Bill</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="container text-center mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-success">Payment Successful!</h2>
        {% if session %}
        <p>Payment for {{  total_amount }} was successful.</p>
    {% else %}
        <p>Your payment was successful.</p>
    {% endif %}
        <a href="/" class="btn btn-primary mt-3">Go to Dashboard</a>
    </div>
</div>
</div>
{% endblock body %}